<nz-layout>
    <nz-content nz-flex nzJustify="center" nzAlign="center">
        <nz-card [nzCover]="coverTemplate" nzBordered="false">
            <form nz-form autocomplete="off">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Informe um nome de usuário ou e-mail!">
                        <nz-input-group nzPrefixIcon="user">
                            <input type="text" nz-input placeholder="Login"/>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Informe a senha">
                        <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixSenhaTemplate">
                            <input nz-input [type]="exibeSenha ? 'text' : 'password'" placeholder="Senha"/>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <button nz-button nzBlock nzType="primary" class="btn-login">Entrar</button>
                <button nz-button nzBlock nzType="primary" class="btn-secundario" (click)="entrarComoConvidado()">Entrar como convidado</button>
                <button nz-button nzBlock nzType="primary" class="btn-secundario" (click)="acessarTelaCadastro()">Cadastrar</button>
            </form>
        </nz-card>
    </nz-content>
</nz-layout>

<!-- Templates -->
<ng-template #coverTemplate>
    <img nz-image alt="Logo do app" src="../../../assets/logo.png">
</ng-template>

<ng-template #suffixSenhaTemplate>
    <span
        nz-icon
        [nzType]="exibeSenha ? 'eye-invisible' : 'eye'"
        (click)="exibeSenha = !exibeSenha"
        style="cursor: pointer;"
      ></span>
</ng-template>
