nz-content {
    min-width: 100vw;
    min-height: 100vh;
}

nz-card {
    min-width: 350px;
    border-radius: 6px;
}

nz-card img {
    max-height: 200px;
    object-fit: cover;
}

img {
    border: 10px, solid, #141414;
}

button {
    margin-bottom: 12px;
}

.btn-login {
    background-color: #311e64;
    border: #311e64;
}

.btn-login:hover {
    background-color: #423075;
}

.btn-secundario {
    background-color: #5C5C5C;
    border: #5C5C5C;
}

.btn-secundario:hover {
    background-color: #7C7C7C;
}
