.card-login {
    min-width: 390px;
    color: #fff;
}

.card-login img {
    max-width: 150px;
}

.card-login input {
    background-color: #1a1a1a;
    color: #fff;
}

.btn-login {
    background-color: #311e64;
    color: #fff;
}

.btn-login:hover {
    background-color: #423075;
}
