<div class="conteiner position-absolute top-50 start-50 translate-middle">
    <div class="card card-cadastro p-4 bg-dark shadow">
        <div class="row mt-2">
            <form autocomplete="off" [formGroup]="cadastroForm" (ngSubmit)="submitCadastro()" [ngClass]="classeFormularioValidado ? 'was-validated' : ''">
                <div class="row py-1">
                    <div class="col-6">
                        <label for="nome" class="form-label">Nome:</label>
                        <input type="text" id="nome" placeholder="Seu nome..." class="form-control border border-0" formControlName="nome" required />
                        <div class="invalid-feedback">
                            O campo Nome é obrigatório
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="sobrenome" class="form-label">Sobrenome:</label>
                        <input type="text" id="sobrenome" placeholder="Seu sobrenome..." class="form-control border border-0" formControlName="sobrenome" required />
                        <div class="invalid-feedback">
                            O campo Sobrenome é obrigatório
                        </div>
                    </div>
                </div>

                <div class="row py-1">
                    <div class="col">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" id="email" placeholder="Seu email..." class="form-control border border-0" formControlName="email" required />
                        <div class="invalid-feedback">
                            O campo Email é obrigatório e deve estar num formato válido
                        </div>
                    </div>
                </div>

                <div class="row py-1">
                    <div class="col">
                        <label for="username" class="form-label">Login:</label>
                        <input type="text" id="username" placeholder="Seu nome de usuário..." class="form-control border border-0" formControlName="username" required />
                        <div class="invalid-feedback">
                            O campo Login é obrigatório
                        </div>
                    </div>
                </div>

                <div class="row py-1">
                    <div class="col">
                        <label for="senha" class="form-label">Senha:</label>
                        <div class="input-group">
                            <input [type]="ocultaSenha ? 'password' : 'text'" id="senha" placeholder="Sua senha..." class="form-control border border-0" formControlName="senha" required />
                            <button type="button" class="btn btn-outline-secondary" (click)="alteraVisibilidadeSenha()">
                                <svg *ngIf="ocultaSenha; else exibeSenha" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                </svg>
                                <ng-template #exibeSenha>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                                        <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                                        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                                    </svg>
                                </ng-template>
                            </button>
                            <div class="invalid-feedback">
                                O campo Senha é obrigatório
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row py-1">
                    <div class="col-12">
                        <label for="confirma_senha" class="form-label">Confirme a senha:</label>
                        <div class="input-group">
                            <input [type]="ocultaConfirmacaoSenha ? 'password' : 'text'" id="confirma_senha" placeholder="Confirme a senha..." class="form-control border border-0" formControlName="confirmaSenha" required />
                            <button type="button" class="btn btn-outline-secondary" (click)="alteraVisibilidadeConfirmacaoSenha()">
                                <svg *ngIf="ocultaConfirmacaoSenha; else exibeSenha" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                </svg>
                                <ng-template #exibeSenha>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                                        <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                                        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                                    </svg>
                                </ng-template>
                            </button>
                            <div class="invalid-feedback">
                                O campo Confirme a Senha é obrigatório
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col d-flex">
                        <button type="submit" class="btn btn-cadastro flex-fill">Cadastar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
